a,a:link, a:visited, a:active, a:hove{
	color: #81C0C5;
}
header{
	background-color: rgb(60, 60, 60);
}
nav{
	background-color: #B5d045;
}
section{
	background-color: #E0c7a8;
}
footer{
	background-color: #fb8335;
}
body{
	color: #000000;
}
label{
color: rgb(255, 255, 255)

}
p{

	color: rgb(255, 255, 255)
}
div{
color:
rgb(60, 60, 60);
	
}