
body {
  background-image: url("webcertificador/Imagenes/arbol.jpg");


}

table{

	margin-right:50px; 
	border-left-color:rgb(255,130,255);
	align-content: center;
	align-items: center;
border-radius:8px;
border-style: solid;
}


li{
	color:#0A0A2A
}
dl{
	color:#0A0A2A
}

caption{
	font-size:18px;
	font-family:Arial, Helvetica,Serif;
	color:#0000FF
}

label{
color: #0A0A2A
}

p{
	color: #0A0A2A
}



h1,h2{
	font-family: Serif;
	color:#0A0A2A	
}

h1{
	font-size: 2em;
	margin-right:150px; 
 
 color: #0000FF
}

h2{
	font-size: 2em;
margin-right: 50px;
  color: #0000FF
}

p{
	font-family:Arial, Helvetica,Serif;
	color:#0A0A2A;
}

label{
	font-size: 24px;
color:#1B4F72;

}

input{
	padding: 0.7em 0.5em;
}
button{
	padding: 0.7em 1em;
	cursor: pointer;
}

input, button{
	font-size: 16px;
	color:
	rgb(60, 60, 60);
border-radius: 5px;
}

a{
	color:#0A0A2A;
}

div{

	
	
	margin-right:700px; 
	border-left-color:rgb(255,130,255);
	align-content: center;
	align-items: center;
border-radius:8px;
border-style:initial;
}
